@{
    ViewBag.Title = "Home Page";
}
<div class="header full-height horizontal-half-transition">
    <div class="background">
        <img src="~/images/rawpixel-com-472352-unsplash.jpg" alt="">
    </div>
    <div class="phone-preview-sizer">
        <div class="phone-preview"></div>
        <div class="image-container active" style="background-image:url(../../images/AppDemo530x990.png)"></div>
        <div class="image-container" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
        <div class="image-container" style="background-image:url(../../images/AppDemo4530x990.png)"></div>
    </div>
    <div class="horizontal-half-wrapper right-side active">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>S<span style="text-transform:lowercase;">pin</span>ED</h1>
                <span class="tagline">Review hundreds of cases of various spine pathologies in high definition, thin cut CT scans and MRIs. Get tested on high yield topics in spine surgery and review actual surgical complications with management. See your performance compared to your peers.</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more col s12 m12 l12"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="horizontal-half-wrapper hide-on-small-and-down">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>REVIEW OUR CATALOGUE</h1>
                <span class="tagline">Use our cases for your learning and teaching with selections available from trauma, deformity, infection, tumor and pediatrics.  We offer the largest selection of spine cases available in the world.</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="horizontal-half-wrapper right-side hide-on-small-and-down">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>COMPARE YOURSELF TO OTHERS</h1>
                <span class="tagline">Every multiple choice question or spine case you answer allows for the real-time development of educational profiles</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="section valign-wrapper">
    <div class="row valign">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                @*<div class="col s12"><h2 class="section-title">Features</h2></div>*@
                <div class="col s12 m6 l4">
                    <h4><i class="icon-light-bulb"></i>Test Yourself</h4>
                    <p class="caption">We have the largest question bank of spine questions in the world with more than 2000 MCQs.  Developed from popular textbooks and articles from the last 20 years of the Journal of American Academy of Orthopedic Surgeons (JAAOS).</p>
                </div>
                <div class="col s12 m6 l4">
                    <h4><i class="icon-bolt"></i>Compare Results</h4>
                    <p class="caption">Every multiple choice question or spine case you answer allows for the real-time development of educational profiles.  This unique education tool allows you to understand your specific areas of weakness by subspecialty within spine surgery and region of the spine.</p>
                </div>
                <div class="col s12 m6 l4">
                    <h4><i class="icon-rocket"></i> AR Spine <b style="font-size:medium; color:red; font-weight:500;">Coming Soon</b></h4>
                    <p class="caption">Visualize real spines, based on 3-D reconstructions of actual spinal deformities.  You will be able to place pedicle screws and correct deformities, picking the start point and trajectory for screws.  Input your own data pre-operatively and correct your own spines prior to the OR to reduce patient morbidity.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section light full-height" id="module-section">
        <div class="row">
            <div class="col s12 m10 offset-m1 center">
                @*<p class="trauma-intro-text">Cases and basic concepts are separated into modules for the user to guide their studying. </p>*@

                <!--Trauma Module-->
                

                <div class="col s12">
                    <h3 class="module-header-text">Modules</h3>
                    <div class="row"> 
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 demo-module">
                                    <div class="module-list-text">
                                        <h3>Trauma</h3>
                                    </div>
                                    <div class="row module-preview-wrapper module-demo-content" style="display:none;">
                                        <div class="col s12 m3">
                                            <div class="phone-preview-sizer module-section">
                                                <div class="phone-preview"></div>
                                                <div class="image-container default" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
                                            </div>
                                        </div>
                                        <div class="col s12 m8 row">
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">From the basics to the most complex.</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">Learning Performance</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <button type="submit" class="waves-effect waves-light btn-large module-demo-button">Demo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 demo-module">
                                    <div class="module-list-text">
                                        <h3>Deformity</h3>
                                    </div>
                                    <div class="row module-preview-wrapper module-demo-content" style="display:none;">
                                        <div class="col s12 m3">
                                            <div class="phone-preview-sizer module-section">
                                                <div class="phone-preview"></div>
                                                <div class="image-container default" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
                                            </div>
                                        </div>
                                        <div class="col s12 m8 row">
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">From the basics to the most complex.</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">Learning Performance</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <button type="submit" class="waves-effect waves-light btn-large module-demo-button">Demo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 demo-module">
                                    <div class="module-list-text">
                                        <h3>Tumor</h3>
                                    </div>
                                    <div class="row module-preview-wrapper module-demo-content" style="display:none;">
                                        <div class="col s12 m3">
                                            <div class="phone-preview-sizer module-section">
                                                <div class="phone-preview"></div>
                                                <div class="image-container default" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
                                            </div>
                                        </div>
                                        <div class="col s12 m8 row">
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">From the basics to the most complex.</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <h3 class="module-list-head-text">Learning Performance</h3>
                                                <p class="module-list-sub-text">Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                                            </div>
                                            <div class="col s12 m12">
                                                <button type="submit" class="waves-effect waves-light btn-large module-demo-button">Demo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<h2 class="primary-color-text left module-header">Trauma</h2>
                <div class="row">
                    <div class="set-size charts-container">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Basic Trauma I", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma", PercentCompleted = 60 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Basic Trauma II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma", PercentCompleted = 30 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Trauma I", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma" })

                    </div>
                </div>
                <h2 class="primary-color-text left module-header">Pediatric</h2>
                <div class="row">
                    <div class="set-size charts-container">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 95 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 76 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric III", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 100 })
                    </div>
                </div>
                <h2 class="primary-color-text left module-header">Degenerative</h2>
                <div class="row">
                    <div class="set-size charts-container">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Degenerative", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", PercentCompleted = 46 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Degenerative II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative" })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Degenerative", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", isPremium = true })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Degenerative II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", isPremium = true })

                    </div>
                </div>
                <h2 class="primary-color-text left module-header">Deformity</h2>
                <div class="row">
                    <div class="set-size charts-container module-header">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", PercentCompleted = 32 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", PercentCompleted = 48 })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity" })

                       </div>
                </div>
                <h2 class="primary-color-text left module-header">Infectious</h2>
                <div class="row">
                    <div class="set-size charts-container">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })

                    </div>
                </div>

                <h2 class="primary-color-text left module-header">Tumor</h2>
                <div class="row">
                    <div class="set-size charts-container">
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Tumor I", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Tumor" })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Tumor II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Tumor" })
                        @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Tumor III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Tumor" })

                    </div>
                </div>*@
            </div>
        </div>
    </div><!--.end of Modules Section-->
<div class="section light full-height">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m4">
                <div class="staggered-transition-wrapper">
                    <div class="feature fade-right-in-out">
                        <h3>From the basics to the most complex.</h3>
                        <p>Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.</p>
                    </div>
                    <div class="feature fade-right-in-out">
                        <h3>Learning Performance</h3>
                        <p>Improve the efficiency of your studying to target areas of weakness. We offer a brand-new automated progress tracking which provides live-feedback to the user. </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="device-pair">
                    <div class="phone-preview-sizer">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0002_Screenshot_20180525-102124.png.png)"></div>
                    </div>
                    <div class="phone-preview-sizer left-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0000_Screenshot_20180525-102059.png.png)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section full-height" id="overview-section">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col m3">
                <div class="phone-preview-sizer right-in-out fade-in-out">
                    <div class="phone-preview"></div>
                    <div class="image-container default" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
                </div>
            </div>
            <div class="col m8 offset-m1">
                <div class="staggered-transition-wrapper">
                    <div class="feature left-in-out fade-in-out">
                        <h3>Develop an Educational Profile</h3>
                        <p>Each answer contributes to your overall scores in a variety of areas of spine surgery. We encourage users to check their statistics regularly to identify areas of weakness and help guide study practices. </p>
                    </div>
                    <div class="feature left-in-out fade-in-out">
                        <h3>Review Our Catalogue</h3>
                        <p>Hundreds of cases of various spinal pathologies with full CT and MRI scans allow for a more thorough understanding of the spine. Use these to guide your teaching and learning. </p>
                    </div>
                    <div class="feature left-in-out fade-in-out">
                        <h3>Complete the SpinED Educational Modules</h3>
                        <p>Using the most current literature we have developed the largest database of MCQs available for spine surgery. Follow real-life cases and see if your decisions are evidence-based! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section light full-height">
    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                        <h3>START BY REGION</h3>
                        <p>Select your region of interest to review and answer cases based on areas of weaknesses.</p>
                    </div>
                </div>
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                        <h3>COMPLETE MODULES TO INCREASE DIFFICULTY</h3>
                        <p>Advance from basic diagnoses to management of complex failures of spine surgery. Recognize and treat a variety of conditions including infection, pseudoarthrosis, adjacent level disease, junctional kyphosis and more.</p>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="phone-preview-halfway">
                    <div class="phone-preview-sizer">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0004_Screenshot_20180525-102220.png.png)"></div>
                    </div>
                </div>
            </div>
            <div class="col m3">
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                        <h3>START BY PATHOLOGY</h3>
                        <p>Select your pathology of interest to review and answer cases based on areas of weaknesses.</p>
                    </div>
                </div>
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                        <h3>LEARN</h3>
                        <p>Using our academic profiles, for the first time, you can identify your areas of weakness in spine surgery and focus your studying. This studying can be facilitated with directed cases. Recommended reading is provided.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="section light full-height ">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="feature">
                    <h3>History</h3>
                    </div>
                <div class="device-triplet">
                    <div class="phone-preview-sizer iphone">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0001_Screenshot_20180525-102115.png.png)"></div>
                    </div>
                    <div class="phone-preview-sizer iphone left-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0002_Screenshot_20180525-102124.png.png)"></div>
                    </div>
                    <div class="phone-preview-sizer iphone right-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0000_Screenshot_20180525-102059.png.png)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="section full-height">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <h1>Latest News</h1>
            <div class="row masonry-grid">
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">Something Interesting</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">Spined in Uganda</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">humanitarian things</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">We are not for profit</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">we want all your money</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <a href="@Url.Action("News","Home")"><img src="http://placehold.it/600x400"></a>
                            <span class="card-title">Good Bye</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Contact Us -->
<div class="section  valign-wrapper">
    <div class="container">
        <form class="js-validate" id="ContactUsForm" method="get" action="@Url.Action("ContactUs","Home")">
            <div class="row">
                <div class="col s12"><h2 class="section-title">Contact Us</h2></div>
                <div class="input-field col s6">
                    <input id="firstname" name="firstname" type="text">
                    <label for="firstname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="lastname" name="lastname" type="text">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" name="email" type="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone" name="phone" type="text">
                    <label for="phone">Phone Number</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="msg" name="msg" class="materialize-textarea"></textarea>
                    <label for="msg">Message</label>
                    <button type="submit" class="waves-effect waves-light btn-large">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".module-link").mouseenter(function () {
                $(this).prev().addClass("halo");
            });
            $(".module-link").mouseleave(function () {
                $(this).prev().removeClass("halo")
            });
            $('.demo-module').mouseenter(function () {
                $(this).children(".module-demo-content").slideDown(600);
                console.log("mouseover");
            });
            $('.demo-module').mouseleave(function () {
                $(this).children(".module-demo-content").slideUp(600);
                console.log("mouseout");
            });
            $('#trauma_module').click(function () {
                $('#trauma_module_elements').slideToggle();

            });

            $('#thoracolumbar_card').mouseover(function () {
                $('#thoracolumbar_img_static').hide();
                $('#thoracolumbar_img_vivid').show();
            });
            $('#thoracolumbar_card').mouseout(function () {
                $('#thoracolumbar_img_vivid').hide();
                $('#thoracolumbar_img_static').show();
            });
            $('#cervical_card').mouseover(function () {
                $('#cervical_img_static').hide();
                $('#cervical_img_vivid').show();
            });
            $('#cervical_card').mouseout(function () {
                $('#cervical_img_vivid').hide();
                $('#cervical_img_static').show();
            });
            $('#lumbar_card').mouseover(function () {
                $('#lumbar_img_static').hide();
                $('#lumbar_img_vivid').show();
            });
            $('#lumbar_card').mouseout(function () {
                $('#lumbar_img_vivid').hide();
                $('#lumbar_img_static').show();
            });
            $('#cervicaldislocation_card').mouseover(function () {
                $('#cervicaldislocation_img_static').hide();
                $('#cervicaldislocation_img_vivid').show();
            });
            $('#cervicaldislocation_card').mouseout(function () {
                $('#cervicaldislocation_img_vivid').hide();
                $('#cervicaldislocation_img_static').show();
            });
            $('#cervicalsubluxation_card').mouseover(function () {
                $('#cervicalsubluxation_img_static').hide();
                $('#cervicalsubluxation_img_vivid').show();
            });
            $('#cervicalsubluxation_card').mouseout(function () {
                $('#cervicalsubluxation_img_vivid').hide();
                $('#cervicalsubluxation_img_static').show();
            });
            $('#cervicalundisplaced_card').mouseover(function () {
                $('#cervicalundisplaced_img_static').hide();
                $('#cervicalundisplaced_img_vivid').show();
            });
            $('#cervicalundisplaced_card').mouseout(function () {
                $('#cervicalundisplaced_img_vivid').hide();
                $('#cervicalundisplaced_img_static').show();
            });

            var options = [
                {
                    selector: '#module-section', offset: 50, callback: function (el) {
                        Materialize.toast("New cases uploaded daily!", 1500);
                    }
                },
                {
                    selector: '#overview-section', offset: 205, callback: function (el) {
                        Materialize.toast("Over 3000 MCQ's from The Journal of American Academy of Orthopedic Surgeons", 1500);
                    }
                },
            ];
            Materialize.scrollFire(options);


            $('#ContactUsForm').submit(function(e) {
                e.preventDefault();
                var emptyFName = $("#firstname").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyEmail = $("#email").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyLName = $("#lastname").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyPhone = $("#phone").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyMsg = $("#msg").filter(function () { return !$.trim(this.value); }).length > 0
                if (emptyFName | emptyEmail | emptyLName | emptyPhone | emptyMsg) {
                    Materialize.toast("sorry, we cant properly review your message unless you fill out all the sections.", 5000);
                }
                else
                {
                    var formData = $(this).serialize();

                $.ajax({
                    dataType: "json",
                    url: "@Url.Action("ContactUs","Home")",
                    data: formData,
                    success: function (data) {
                        $('#ContactUsForm')[0].reset();
                        Materialize.toast(data.msg, 5000 );

                      },
                    error: function () {
                        Materialize.toast('Sorry, We couldnt send your message at this time. Please try again later ',  5000 );
                      }
                });
                }
            });
      
        });
    </script>
}
