@{
    ViewBag.Title = "Home Page";
}

<div class="header full-height horizontal-half-transition">
    <div class="background">
        <img src="~/images/rawpixel-com-472352-unsplash.jpg" alt="">
    </div>
    <div class="phone-preview-sizer">
        <div class="phone-preview"></div>
        <div class="image-container active" style="background-image:url(../../images/AppDemo530x990.png)"></div>
        <div class="image-container" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
        <div class="image-container" style="background-image:url(../../images/AppDemo4530x990.png)"></div>
    </div>
    <div class="horizontal-half-wrapper right-side active">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>S<span style="text-transform:lowercase;">pin</span>ED</h1>
                <span class="tagline">An education tool that allows users to be exposed to hundreds of cases in preparation for royal college examinations and general learning purposes</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more col s12 m12 l12"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="horizontal-half-wrapper hide-on-small-and-down">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>TEST YOUR KNOWLEDGE</h1>
                <span class="tagline">With the largest question bank of spine questions in the world with more than 2000 MCQs!</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="horizontal-half-wrapper right-side hide-on-small-and-down">
        <div class="header-background white"></div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12 m8 offset-m2 valign">
                <h1>COMPARE YOURSELF TO OTHERS</h1>
                <span class="tagline">Every multiple choice question or spine case you answer allows for the real-time development of educational profiles</span>
                <a class="waves-effect waves-light col s6 m6 l6 " style="padding-right: 5px;">
                    <img class="responsive-img" src="~/images/AppStoreButton280x95.png" />
                </a>
                <a class="waves-effect waves-light col s6 m6 l6" style="padding-left: 5px;">
                    <img class="responsive-img" src="~/images/GooglePlay280x95.png" />
                </a>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="section valign-wrapper">
    <div class="row valign">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                @*<div class="col s12"><h2 class="section-title">Features</h2></div>*@
                <div class="col s12 m6 l4">
                    <h4><i class="icon-light-bulb"></i>Test Yourself</h4>
                    <p class="caption">We have the largest question bank of spine questions in the world with more than 2000 MCQs.  Developed from popular textbooks and articles from the last 20 years of the Journal of American Academy of Orthopedic Surgeons (JAAOS)</p>
                </div>
                <div class="col s12 m6 l4">
                    <h4><i class="icon-bolt"></i>Compare Results</h4>
                    <p class="caption">Every multiple choice question or spine case you answer allows for the real-time development of educational profiles.  This unique education tool allows you to understand your specific areas of weakness by subspecialty within spine surgery and region of the spine.</p>
                </div>
                <div class="col s12 m6 l4">
                    <h4><i class="icon-rocket"></i> AR Spine <b style="font-size:medium; color:red; font-weight:500;">Coming Soon</b></h4>
                    <p class="caption">While in lecture or on the bus, you can have a spine on a surgical table in front of you, exposed and ready for pedicle screws.  Anatomically correct spines have been programmed for you to choose the appropriate start point, and trajectory </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- NEW MODULE SECTION-->
@*<div class=" section light full-height">
    <div class=" container">
        <div class="col s12 m12 l12">
            <div class="col s12" style="background-color:aliceblue;">
                <div class="row">
                    <div class="col l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/images/NeuroFracture.png">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/images/cervical600x400.jpg"">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/images/cervicalundisplaced600x400.png">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>*@
<!--Modules Section-->
<div class="section light full-height" id="module-section">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <!--Trauma Module-->
            <h2 class="primary-color-text left">Trauma</h2>
            <div class="row">
                <div class="set-size charts-container">
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Basic Trauma I", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma", PercentCompleted = 60 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Basic Trauma II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma", PercentCompleted = 30 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Trauma I", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Trauma" })

                </div>
            </div>
            <h2 class="primary-color-text left">Pediatric</h2>
            <div class="row">
                <div class="set-size charts-container">
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 95 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 76 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Congenital & Pediatric III", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", PercentCompleted = 100 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Pediatric", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Pediatric II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Pediatric", isPremium = true })
                </div>
            </div>
            <h2 class="primary-color-text left">Degenerative</h2>
            <div class="row">
                <div class="set-size charts-container">
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Degenerative", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", PercentCompleted = 46 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Degenerative II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Degenerative", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Degenerative II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Degenerative III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Degenerative", isPremium = true })
                </div>
            </div>
            <h2 class="primary-color-text left">Deformity</h2>
            <div class="row">
                <div class="set-size charts-container">
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", PercentCompleted = 32 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity II", isLocked = false, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", PercentCompleted = 48 })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Deformity Basics", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Intermediate Deformity", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Deformity", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Deformity II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Deformity III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Deformity", isPremium = true })
                </div>
            </div>
            <h2 class="primary-color-text left">Infectious</h2>
            <div class="row">
                <div class="set-size charts-container">
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious III", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious IV", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious" })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Infectious VI", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Infectious ", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious", isPremium = true })
                    @Html.Partial("_ModuleCase", new SpinED.Models.ModuleCase { CaseName = "Advanced Infectious II", isLocked = true, LinkHref = Url.Action("Case1", "Case"), ModuleName = "Infectious", isPremium = true })


                </div>
            </div>
        </div>
    </div>
</div><!--.end of Modules Section-->

<div class="section full-height" id="overview-section">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col m3">
                <div class="phone-preview-sizer right-in-out fade-in-out">
                    <div class="phone-preview"></div>
                    <div class="image-container default" style="background-image:url(../../images/AppDemo2530x990.png)"></div>
                </div>
            </div>
            <div class="col m8 offset-m1">
                <div class="staggered-transition-wrapper">
                    <div class="feature left-in-out fade-in-out">
                        <h3>Understand Your Weaknesses</h3>
                        <p>Overcoming weaknesses is a door to success, as it not only allows one to make the areas of strengths stronger but also aids in changing the weaknesses into strengths, while it helps to unlock one's potential, so that it may be used to its fullest making one a successful person in every aspect of life. </p>
                    </div>
                    <div class="feature left-in-out fade-in-out">
                        <h3>Compare Yourself To Others</h3>
                        <p>Focusing on others and getting diverted by comparison would’ve been one of those perilous mistakes. Your race isn’t about other people and where they are. It’s about your training, your focus, your pacing, your state of mind. </p>
                    </div>
                    <div class="feature left-in-out fade-in-out">
                        <h3>Pass The Royal College</h3>
                        <p>Once a year, the Royal College examines candidates who have completed their postgraduate training and wish to be certified in their area of specialty. Most candidates take their Royal College certification examination in the final year of their postgraduate training program.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section light full-height">
    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                        <h3>Start a case by Region</h3>
                        <p>Locavore drinking vinegar quinoa seitan church-key, tilde aliqua. Hoodie mustache aliquip, selfies bitters poutine adipisicing scenester man braid jean shorts. Aliqua mlkshk 90's distillery, truffaut sapiente trust fund fashion axe officia selvage occaecat locavore accusamus. </p>
                    </div>
                </div>
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                        <h3>Complete Modules to increase difficulty</h3>
                        <p>Locavore drinking vinegar quinoa seitan church-key, tilde aliqua. Hoodie mustache aliquip, selfies bitters poutine adipisicing scenester man braid jean shorts. Aliqua mlkshk 90's distillery, truffaut sapiente trust fund fashion axe officia selvage occaecat locavore accusamus. </p>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="phone-preview-halfway">
                    <div class="phone-preview-sizer">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0004_Screenshot_20180525-102220.png.png)"></div>
                    </div>
                </div>
            </div>
            <div class="col m3">
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                        <h3>Start by Pathology</h3>
                        <p>Locavore drinking vinegar quinoa seitan church-key, tilde aliqua. Hoodie mustache aliquip, selfies bitters poutine adipisicing scenester man braid jean shorts. Aliqua mlkshk 90's distillery, truffaut sapiente trust fund fashion axe officia selvage occaecat locavore accusamus. </p>
                    </div>
                </div>
                <div class="perspective-wrapper">
                    <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                        <h3>Learn</h3>
                        <p>Locavore drinking vinegar quinoa seitan church-key, tilde aliqua. Hoodie mustache aliquip, selfies bitters poutine adipisicing scenester man braid jean shorts. Aliqua mlkshk 90's distillery, truffaut sapiente trust fund fashion axe officia selvage occaecat locavore accusamus. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section black full-height">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="feature">
                    <h3>Learning Performance</h3>
                    <p>Achieve your study goals more efficiently with automated progress tracking. Keep playing to raise your score, unlock features, and ace the Royal College. </p>
                </div>
                <div class="device-triplet">
                    <div class="phone-preview-sizer iphone">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0001_Screenshot_20180525-102115.png.png)"></div>
                    </div>
                    <div class="phone-preview-sizer iphone left-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0002_Screenshot_20180525-102124.png.png)"></div>
                    </div>
                    <div class="phone-preview-sizer iphone right-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(../../images/AppDemo530990_0000_Screenshot_20180525-102059.png.png)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us -->
<div class="section light valign-wrapper">
    <div class="container">
        <form class="js-validate" id="ContactUsForm" method="get" action="@Url.Action("ContactUs","Home")">
            <div class="row">
                <div class="col s12"><h2 class="section-title">Contact Us</h2></div>

                <div class="input-field col s6">
                    <input id="firstname" name="firstname" type="text">
                    <label for="firstname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="lastname" name="lastname" type="text">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" name="email" type="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone" name="phone" type="text">
                    <label for="phone">Phone Number</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="msg" name="msg" class="materialize-textarea"></textarea>
                    <label for="msg">Message</label>
                    <button type="submit" class="waves-effect waves-light btn-large">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        $(function () {
            $(".module-link").mouseenter(function () {
                $(this).prev().addClass("halo");
            });
            $(".module-link").mouseleave(function () {
                $(this).prev().removeClass("halo")
            });

            $('#trauma_module').click(function () {
                $('#trauma_module_elements').slideToggle();

            });

            $('#thoracolumbar_card').mouseover(function () {
                $('#thoracolumbar_img_static').hide();
                $('#thoracolumbar_img_vivid').show();
            });
            $('#thoracolumbar_card').mouseout(function () {
                $('#thoracolumbar_img_vivid').hide();
                $('#thoracolumbar_img_static').show();
            });
            $('#cervical_card').mouseover(function () {
                $('#cervical_img_static').hide();
                $('#cervical_img_vivid').show();
            });
            $('#cervical_card').mouseout(function () {
                $('#cervical_img_vivid').hide();
                $('#cervical_img_static').show();
            });
            $('#lumbar_card').mouseover(function () {
                $('#lumbar_img_static').hide();
                $('#lumbar_img_vivid').show();
            });
            $('#lumbar_card').mouseout(function () {
                $('#lumbar_img_vivid').hide();
                $('#lumbar_img_static').show();
            });
            $('#cervicaldislocation_card').mouseover(function () {
                $('#cervicaldislocation_img_static').hide();
                $('#cervicaldislocation_img_vivid').show();
            });
            $('#cervicaldislocation_card').mouseout(function () {
                $('#cervicaldislocation_img_vivid').hide();
                $('#cervicaldislocation_img_static').show();
            });
            $('#cervicalsubluxation_card').mouseover(function () {
                $('#cervicalsubluxation_img_static').hide();
                $('#cervicalsubluxation_img_vivid').show();
            });
            $('#cervicalsubluxation_card').mouseout(function () {
                $('#cervicalsubluxation_img_vivid').hide();
                $('#cervicalsubluxation_img_static').show();
            });
            $('#cervicalundisplaced_card').mouseover(function () {
                $('#cervicalundisplaced_img_static').hide();
                $('#cervicalundisplaced_img_vivid').show();
            });
            $('#cervicalundisplaced_card').mouseout(function () {
                $('#cervicalundisplaced_img_vivid').hide();
                $('#cervicalundisplaced_img_static').show();
            });

            var options = [
                {
                    selector: '#module-section', offset: 50, callback: function (el) {
                        Materialize.toast("New cases uploaded daily!", 1500);
                    }
                },
                {
                    selector: '#overview-section', offset: 205, callback: function (el) {
                        Materialize.toast("Over 3000 MCQ's from The Journal of American Academy of Orthopedic Surgeons", 1500);
                    }
                },
            ];
            Materialize.scrollFire(options);

            $('#ContactUsForm').submit(function(e) {
                e.preventDefault();
                var emptyFName = $("#firstname").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyEmail = $("#email").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyLName = $("#lastname").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyPhone = $("#phone").filter(function () { return !$.trim(this.value); }).length > 0
                var emptyMsg = $("#msg").filter(function () { return !$.trim(this.value); }).length > 0
                if (emptyFName | emptyEmail | emptyLName | emptyPhone | emptyMsg) {
                    Materialize.toast("sorry, we cant properly review your message unless you fill out all the sections.", 5000);                   
                }
                else
                {
                    var formData = $(this).serialize();
               
                $.ajax({
                    dataType: "json",
                    url: "@Url.Action("ContactUs","Home")",
                    data: formData,
                    success: function (data) {
                        $('#ContactUsForm')[0].reset();
                        Materialize.toast(data.msg, 5000 );

                      },
                    error: function () {
                        Materialize.toast('Sorry, We couldnt send your message at this time. Please try again later ',  5000 );
                      }
                });
                }  
            });
            //var ctx = document.getElementById("chart");
            //var ctx2 = document.getElementById("chart2");
            //var ctx3 = document.getElementById("chart3");
            //var ctx4 = document.getElementById("chart4");
            //var myLineChart = new Chart(ctx, {
            //    type: 'line',
            //    data: {
            //        labels: ["January", "February", "March", "April", "May", "June", "July"],
            //        datasets: [{
            //            label: "Your Monthly Scores",
            //            backgroundColor: 'rgba(83, 127, 152,0.38)',
            //            borderColor: 'rgb(22, 63, 86)',
            //            data: [0, 10, 5, 2, 20, 30, 45],
            //        },
            //        {
            //            label: "Average User Scores",
            //            backgroundColor: 'rgba(204, 204, 204,0.38)',
            //            borderColor: 'rgb(0, 0, 0)',
            //            data: [7, 13, 2, 8, 36, 2, 50],
            //        }
            //        ]
            //    }


            //});
            //var radarchart = new Chart(ctx2, {
            //    type: 'radar',
            //    data: {
            //        labels: ['Pediatric', 'Degenerative', 'Deformity', 'Infection', 'Tumor', 'Trauma'],
            //        datasets: [{
            //            label: "Your Scores",
            //            backgroundColor: 'rgba(83, 127, 152,0.38)',
            //            borderColor: 'rgb(22, 63, 86)',
            //            data: [20, 10, 34, 50, 40, 17],
            //        }, {
            //            label: "Avg User",
            //            backgroundColor: 'rgba(204, 204, 204,0.38)',
            //            borderColor: 'rgb(0, 0, 0)',
            //            data: [6, 32, 12, 75, 22, 67]
            //        }

            //        ]
            //    }

            //});
            //var piechart = new Chart(ctx3, {
            //    type: 'doughnut',
            //    data: {
            //        labels: ['Pediatric', 'Degenerative', 'Deformity', 'Infection', 'Tumor', 'Trauma'],
            //        datasets: [{
            //            label: "Your Scores",
            //            backgroundColor: 'rgba(83, 127, 152,0.38)',
            //            borderColor: 'rgb(22, 63, 86)',
            //            data: [20, 10, 34, 50, 40, 17],
            //        }
            //            , {
            //            label: "Avg User",
            //            backgroundColor: 'rgba(204, 204, 204,0.38)',
            //            borderColor: 'rgb(0, 0, 0)',
            //            data: [6, 32, 12, 75, 22, 67]
            //        }

            //        ]
            //    }
            //});
            //var barchart = new Chart(ctx4, {
            //    type: 'bar',
            //    data: {
            //        labels: ['Pediatric', 'Degenerative', 'Deformity', 'Infection', 'Tumor', 'Trauma'],
            //        datasets: [{
            //            label: "Your Scores",
            //            backgroundColor: 'rgba(83, 127, 152,0.38)',
            //            borderColor: 'rgb(22, 63, 86)',
            //            data: [20, 10, 34, 50, 40, 17],
            //        }, {
            //            label: "Avg User",
            //            backgroundColor: 'rgba(204, 204, 204,0.38)',
            //            borderColor: 'rgb(0, 0, 0)',
            //            data: [6, 32, 12, 75, 22, 67]
            //        }

            //        ]
            //    }
            //});
            //$('#u_y_w')
        });
    </script>
}
